@{
    ViewData["Title"] = "Index";
}
@section css {
    <link href="@Url.Content("~/css/Home.css")" rel="stylesheet" />
}

<div id="main">
    <div id="button_container">
        <a asp-controller="" asp-action="index">
            <img src="~/img/Button1.png" width="100%" onmouseover="this.src='/img/Button2.png'" onmouseout="this.src='/img/Button1.png'" onmousedown="this.src='/img/Button3.png'" />
        </a>
        <div id="button_text">Mini Game</div>
    </div>
</div>
<div id="main" class="mt-3">
    <div id="button_container">
        <a asp-controller="Trade" asp-action="index">
            <img src="~/img/Button1.png" width="100%" onmouseover="this.src='/img/Button2.png'" onmouseout="this.src='/img/Button1.png'" onmousedown="this.src='/img/Button3.png'" />
        </a>
        <div id="button_text">Trading</div>
    </div>
</div>
<div id="main" class="mt-3">
    <div id="button_container">
        <a asp-controller="Collection" asp-action="index">
            <img src="~/img/Button1.png" width="100%" onmouseover="this.src='/img/Button2.png'" onmouseout="this.src='/img/Button1.png'" onmousedown="this.src='/img/Button3.png'" />
        </a>
        <div id="button_text">Collection</div>
    </div>
</div>
<div id="main" class="mt-5">
    <div id="button_container_big">
        <a asp-controller="Pack" asp-action="index">
            <img src="~/img/Button1.png" width="100%" onmouseover="this.src='/img/Button2.png'" onmouseout="this.src='/img/Button1.png'" onmousedown="this.src='/img/Button3.png'" />
        </a>
        <div id="button_text_big">Open packs</div>
    </div>
</div>