@{
    ViewData["Title"] = "Collection";
}
<div style="overflow: auto; max-height: 80vh;">
    @foreach (var card in ViewData["cards"] as List<string>)
    {
        <img src="@card.ToString()" style="padding: 10px;" />
    }
</div>